body{
	padding:0;
	margin:0;
    background: #999999;
    display: -webkit-box;
    height: 100%;
}
.mathLine {
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #fff;
    background: #f3f3f3;
    min-height: 42px;
    transition: all 1s;

    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.mathquill-editable {
    border: none;
    outline: none;
    display: block;
    -webkit-box-flex:1;
}

.container{
    background: #ffffff;
    min-height: 100%;
    padding: 0;
    margin: 0;
    -webkit-box-flex:1;
}
html{
    height: 100%;

}
nav.on {
width: 150px;
}
nav{
    -webkit-transition: all 1s;
    width: 32px;
    background: #e3e3e3;
}

ul{
    -webkit-transition: all 1s;
    opacity: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.on > ul{
    opacity: 1;
}
li {
width: 200px;
list-style: none;
margin: 0;
padding: 0;
line-height: 32px;
height: 32px;
font-family: arial,sans-serif;
padding-left: 5px;
border-bottom: 1px solid rgb(201, 201, 201);
border-top: 1px solid #fff;
}
li:last-child {
background: linear-gradient(to top, #246b5d 0%,#1c5348 100%);
color: #fff;
border-top: none;
}
.fui-list{
    -webkit-transition: all 1s;
}
.test {
width: 100%;
height: 32px;
padding: 8px;
-webkit-box-sizing: border-box;
background: linear-gradient(to bottom, #246b5d 0%,#1c5348 100%);
border-right: 1px solid rgb(4, 48, 16);
border-bottom: 1px solid rgb(4, 39, 21);
}
.on > .test > .fui-list {
margin-left: 120px;
}
.fui-search {
margin: 8px;
}
.top-nav {
height: 32px;
background: linear-gradient(to bottom, #31917b 0%,#297969 100%);
border-left: 1px solid rgb(80, 151, 100);
border-bottom: 1px solid rgb(16, 80, 47);
-webkit-box-sizing: border-box;
}